quartz.scheduler.instanceName = BackgroundJobsScheduler
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.useProperties = true
quartz.jobStore.dataSource = default
quartz.dataSource.default.connectionString = Server=background-jobs-database.crdw8zpgzjtt.sa-east-1.rds.amazonaws.com;Port=3306;Database=Quartz;Uid=admin;Pwd=poPgah-xeszym-zakcy4
quartz.dataSource.default.provider = MySql
quartz.serializer.type = json